@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700');

* {
	box-sizing: border-box;
}

html {
	height: 100%;
	font-size: 10px;
	color: #000000;
	font-family: Lato, Arial, sans-serif;
}

body {
	min-height: 100%;
	font-size: 1.6rem;
	margin: 0;
}

.container {
	max-width: 118rem;
	width: 80%;
	min-width: 45rem;
	margin: 0 auto;
	padding: 0;
}

header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

header, 
.section--cover {
	text-shadow: 0 0 8rem #000;
}

header .container {
	align-items: center;
}

a {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.4rem;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	font-weight: bold;
}

a:hover,
a:focus,
a:active {
	filter: invert(30%);
}

nav {
	width: 100%;
	height: 11rem;
}

.logo {
	background-image: url('../img/logo.png');
	display: inline-block;
	background-repeat: no-repeat;
	width: 13rem;
}

nav .navigation>li {
	display: inline-block;
	list-style: none;
	padding-top: .6rem;
	padding-left: 2rem;	
	padding-right: 2rem;
}

.navigation {
	position: relative;
	align-items: center;
	padding: 0;
}

ul.menu::before {
	content: url('../img/menu.png');
	display: inline-block;
}

.menu {
	position: absolute;
	top: 3rem;
	padding: 0;
}

.menu>li {
	display: none;
	padding: 5px;
	border: 1px solid rgba(255, 255, 255, .3);
	background-color: rgba(0, 0, 0, .3);
	color: #fff;
	transform: translate(-50px, 10px);
}

.menu:hover li,
.menu:focus li,
.menu:active li {
	display: block;
}

.menu li:hover,
.menu li:focus,
.menu li:active {
	background-color: rgba(0, 0, 0, 0.1);
	filter: invert(50%);
}

.menu:hover::before {
	transform: rotate(90deg);
} 

.section--cover .container {
	padding-top: 24rem;
	padding-bottom: 24rem;
}

.section--cover {
	background-position: center;
	background-size: cover;
	background-color: #5f5f5f;
	color: 	#fff;
	height: 100vh;
	flex-direction: column;
	justify-content: center;
}

.section--cover p {
	margin: 0;
}

.section--cover p:first-of-type {
	font-size: 3.6rem;
	font-weight: bold;
	font-style: italic;
	font-family: 'Times New Roman', serif;
	opacity: .7;
}

.section--cover h1 {
	font-size: 10rem;
	margin: 0 0 2.5rem;
}

.btn {
	display: inline-block;
	padding: 2.5rem 8rem 2rem;
	border: 3px solid #fff;
	margin-bottom: 4rem;
}

.section--cover p:last-of-type a {
	display: inline;
	text-decoration: underline;
}

#about .container {
	padding: 10rem 0;
}

.text-about div {
	border-radius: 50%;
	border: 2px solid #000;
	width: 10.5rem;
	height: 10.5rem;
	background-repeat: no-repeat;
	background-position: center;
	margin: 0 auto;
}

.inspired {
	background-image: url('../img/inspired.png');
}

.rewarded {
	background-image: url('../img/rewarded.png');
}

.social {
	background-image: url('../img/social.png');
}

.text-about {
	width: 31%;
	text-align: center;
}

.text-about a:hover,
.text-about a:focus,
.text-about a:active {
	filter: invert(0%);
}

.text-about a:hover > h2,
.text-about a:focus > h2,
.text-about a:active > h2 {
	font-weight: bold;
}

h2 {
	font-size: 1.8rem;
	text-transform: uppercase;
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #000;
	white-space: nowrap;	
}

h2::after {
	content: url('../img/layer.png');
	position: absolute;
	top: 1rem;
}

.section--mobile {
	background-color: #f7f7f7;
	position: relative;
}

.section--mobile .container {
	padding-top: 7%;
	position: relative;
	justify-content: space-between;
	height: 100%;
}

.section--mobile .picture {
	margin-right: 8%;
	flex-direction: column;
	justify-content: flex-end;
	position: relative;
	bottom: -5px;
	left: 0;
}

.mobile {
	width: 50%;
	padding-top: 7%;
	vertical-align: middle;
	font-size: 1.6rem;
}

.mobile h2 {
	justify-content: flex-start;
}

.mobile a {
	display: inline-block;
	height: 3.9rem;
	margin-right: 1rem;
}

.mobile p {
	margin: 2rem 0;
}

.apple {
	background-image: url('../img/apple.png');
	width: 11.2rem;
}

.google {
	background-image: url('../img/google.png');
	width: 12rem;
}

.section--cusines {
	color: #fff;
	padding-top: 10rem;
}

.section--cusines .cusines--block {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3.5rem;
}

.cusine--block {
	flex-basis: 20%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.cusines {
	margin: 0 auto;
	vertical-align: middle;
	text-align: center;
	display: block;
}

.cusines:hover,
.cusines:active,
.cusines:focus {
	background-image: none;
	background-color: #f57365;
	filter: invert(0%);
	transition: all .6s ease-in-out;
}

.recipies {
	display: inline-block;
	margin: 7.5rem auto 1rem;
	color: #fefefe;
	line-height: 1;
}

.cusine {
	text-transform: uppercase;
	font-size: 3.6rem;
	font-weight: bold;
	margin: 0 auto 9.5rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #fefefe;
	line-height: 1;
	width: 21rem;
	text-align: center;
}

.italian {
	background-image: url('../img/italian.jpg');
}

.indian {
	background-image: url('../img/indian.jpg');
}

.french {
	background-image: url('../img/french.jpg');
}

.steak {
	background-image: url('../img/steak.jpg');
}

.sea {
	background-image: url('../img/sea.jpg');
}

.sushi {
	background-image: url('../img/sushi.jpg');
}

.mexican {
	background-image: url('../img/mexican.jpg');
}

.chinese {
	background-image: url('../img/chinese.jpg');
}

.pizza {
	background-image: url('../img/pizza.jpg');
}

.american {
	background-image: url('../img/american.jpg');
}

.container--statistic {
    flex-wrap: wrap;
}

.item--statistic {
	margin: 2rem;
	text-align: center;
}

.item--counter {
	font-size: 3.6rem;
	font-weight: bold;
}

footer {
	background-color: #f7f7f7;
	color: #8b8b8b;
	font-size: 1.4rem;
	font-weight: 100;
	padding: 4rem 1rem 3.5rem;
	border-top: 1px solid #e2e2e2;
}

.container--footer {
	justify-content: space-between;
}

.target {
	line-height: 1;
}

.website {
	color: #000;
	font-weight: normal;
	display: inline;
}

/* HELPERS */
.text-center {
	text-align: center;
}

.text-light {
	font-weight: 300;
	line-height: 1.6em;
}

.display-flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}